@media (max-width:768px){
    .navBackground {
        padding-top: 0.1rem;
        height:1.6rem; 
        a {
            font-size: 1rem;
        }
        ul ul li {
            display: block;
            width:90%;
            padding: 0.125rem;
        }
    }
    .headerindex{
        height:21rem; 
        padding: 7% 25% 0 25%;
        h1{
            font-size: $tamanoTexto*calc(2 / 3);
        }
    }
    #section2{
        .aboutme2{
            display:block;
        }
        .pesca{
            padding:1.1rem 1rem 1rem 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }
} 
@media (max-width:576px){
    .navBackground {
        padding-top: 0.05rem;
        height:1.2rem; 
        a {
            font-size: calc($tamanoTexto / (3));
        }
        ul ul li {
            display: block;
            width:80%;
            padding: 0.1rem;
        }
    }
    .headerindex{
        height:10.5rem; 
        padding: 7% 25% 0 25%;
        h1{
            font-size: 0.7rem;
        }
    }
    #section2{
        .aboutme2{
            display:block;
        }
        .pesca{
            padding:1.1rem 1rem 1rem 4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}
